@charset "UTF-8";
/* CSS Document */


*, *:before, *:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}

html, body{
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html{
    background-color: ghostwhite;
	overflow:hidden;
}

body{
	background-color: steelblue;
	overflow:hidden;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	z-index: 5;
	position: absolute;
	top: 35px;
    left: 25px;
}

a{
	text-decoration: none;
    color: rgba(255, 254, 238);
}

#flond{
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

#subtitle{
    position: absolute;
    top: 75px;
    left: 25px;
    color: rgba(255, 254, 238);
    font-size: 1.1rem;
    font-family: 'Kaisei Decol',serif;
    font-weight: medium;
    letter-spacing: 0.345rem;
}

.hana{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 300px;
    height: 800px;
    transform: translate(-50%, -50%);
}

#tulip1{
    top: 100%;
    left: 5%;
}

#tulip2{
    top: 42%;
    left: 17%;
    transform: rotateY(180deg);
}

#tulip3{
    top: 95%;
    left: 45%;
}

#tulip4{
    top: 35%;
    left: 50%;
    transform: rotateY(180deg);
}

#tulip5{
    top: 65%;
    left: 67.5%;
    transform: rotateY(180deg);
}

#tulip6{
    top: 95%;
    left: 95%;
}

.hanamove{
    width: 150px;
    height: 700px;
    transform-origin: 50% 90%;
    /* transition-duration: 1s; */
    transition: all 0.2s ease 0s, transform 1s ease 0s;
}

.canvasGroup{
    position: relative;
    top: 0;
    left: 0;
    mix-blend-mode: saturation;
    mix-blend-mode: -webkit-saturation;
    -webkit-mix-blend-mode: saturation;
    transform-origin: 50% 90%;
    transition-duration: 0.5s;
}

#canvasGroup1, #canvasGroup3, #canvasGroup5, 
#canvasGroup7, #canvasGroup9, #canvasGroup11{
    z-index: 2;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#canvasGroup2, #canvasGroup4, #canvasGroup6, 
#canvasGroup8, #canvasGroup10, #canvasGroup12{
    width: 150px;
    height: 600px;
    top: -50px;
    mix-blend-mode: normal;
    mix-blend-mode: -webkit-normal;
    -webkit-mix-blend-mode: normal;
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    /* filter: blur(15px);
    -webkit-filter: blur(15px); */
    opacity: 0.8;
    mix-blend-mode: saturation;
    mix-blend-mode: -webkit-saturation;
    -webkit-mix-blend-mode: saturation;
}

#canvas1, #canvas2, #canvas3, 
#canvas7, #canvas8, #canvas9, 
#canvas13, #canvas14, #canvas15, 
#canvas19, #canvas20, #canvas21, 
#canvas25, #canvas26, #canvas27, 
#canvas31, #canvas32, #canvas33{
    width: 150px;
    height: 150px;
    transform-origin: 50% 90%;
}

#canvas4, #canvas5, #canvas6, 
#canvas10, #canvas11, #canvas12, 
#canvas16, #canvas17, #canvas18, 
#canvas22, #canvas23, #canvas24, 
#canvas28, #canvas29, #canvas30, 
#canvas34, #canvas35, #canvas36{
    width: 150px;
    height: 600px;
    mix-blend-mode: normal;
    mix-blend-mode: -webkit-normal;
    -webkit-mix-blend-mode: normal;
}

#canvas5, #canvas6, 
#canvas11, #canvas12, 
#canvas17, #canvas18, 
#canvas23, #canvas24, 
#canvas29, #canvas30, 
#canvas35, #canvas36{
    z-index: 1;
    width: 200px;
    cursor: pointer;
}

#canvas5, 
#canvas11, 
#canvas17, 
#canvas23, 
#canvas29, 
#canvas35{
    left: -90px;
    transform-origin: 90% 70%;
    transition-duration: 1s;
}

#canvas6, 
#canvas12, 
#canvas18, 
#canvas24, 
#canvas30, 
#canvas36{
    left: 60px;
    transform-origin: 10% 60%;
    transition-duration: 1.4s;
}

@media (max-width: 1100px){
    .hana{
        width: 225px;
        height: 600px;
    }

    #tulip1{
        top: 100%;
        left: 5%;
    }
    
    #tulip2{
        top: 59.5%;
        left: 17%;
        transform: rotateY(180deg);
    }
    
    #tulip3{
        top: 95%;
        left: 45%;
    }
    
    #tulip4{
        top: 52.5%;
        left: 50%;
        transform: rotateY(180deg);
    }
    
    #tulip5{
        top: 75%;
        left: 67.5%;
        transform: rotateY(180deg);
    }
    
    #tulip6{
        top: 95%;
        left: 95%;
    }

    .hanamove{
        width: 112.5px;
        height: 525px;
    }

    #canvasGroup1, #canvasGroup3, #canvasGroup5, 
    #canvasGroup7, #canvasGroup9, #canvasGroup11{
        width: 112.5px;
        height: 112.5px;
    }

    #canvasGroup2, #canvasGroup4, #canvasGroup6, 
    #canvasGroup8, #canvasGroup10, #canvasGroup12{
        width: 112.5px;
        height: 450px;
        top: -37.5px;
    }

    #canvas1, #canvas2, #canvas3, 
    #canvas7, #canvas8, #canvas9, 
    #canvas13, #canvas14, #canvas15, 
    #canvas19, #canvas20, #canvas21, 
    #canvas25, #canvas26, #canvas27, 
    #canvas31, #canvas32, #canvas33{
        width: 112.5px;
        height: 112.5px;
    }

    #canvas4, #canvas5, #canvas6, 
    #canvas10, #canvas11, #canvas12, 
    #canvas16, #canvas17, #canvas18, 
    #canvas22, #canvas23, #canvas24, 
    #canvas28, #canvas29, #canvas30, 
    #canvas34, #canvas35, #canvas36{
        width: 112.5px;
        height: 450px;
    }

    #canvas5, #canvas6, 
    #canvas11, #canvas12, 
    #canvas17, #canvas18, 
    #canvas23, #canvas24, 
    #canvas29, #canvas30, 
    #canvas35, #canvas36{
        width: 150px;
    }

    #canvas5, 
    #canvas11, 
    #canvas17, 
    #canvas23, 
    #canvas29, 
    #canvas35{
        left: -67.5px;
    }

    #canvas6, 
    #canvas12, 
    #canvas18, 
    #canvas24, 
    #canvas30, 
    #canvas36{
        left: 45px;
    }
}

@media (max-width: 850px){
    .hana{
        width: 150px;
        height: 400px;
    }

    #tulip1{
        top: 102.5%;
        left: 5%;
    }
    
    #tulip2{
        top: 73%;
        left: 17%;
        transform: rotateY(180deg);
    }
    
    #tulip3{
        top: 97.5%;
        left: 45%;
    }
    
    #tulip4{
        top: 70%;
        left: 50%;
        transform: rotateY(180deg);
    }
    
    #tulip5{
        top: 85%;
        left: 67.5%;
        transform: rotateY(180deg);
    }
    
    #tulip6{
        top: 97.5%;
        left: 95%;
    }

    .hanamove{
        width: 112.5px;
        height: 525px;
    }

    .hanamove{
        width: 75px;
        height: 350px;
    }

    #canvasGroup1, #canvasGroup3, #canvasGroup5, 
    #canvasGroup7, #canvasGroup9, #canvasGroup11{
        width: 75px;
        height: 75px;
    }

    #canvasGroup2, #canvasGroup4, #canvasGroup6, 
    #canvasGroup8, #canvasGroup10, #canvasGroup12{
        width: 75px;
        height: 300px;
        top: -25px;
    }

    #canvas1, #canvas2, #canvas3, 
    #canvas7, #canvas8, #canvas9, 
    #canvas13, #canvas14, #canvas15, 
    #canvas19, #canvas20, #canvas21, 
    #canvas25, #canvas26, #canvas27, 
    #canvas31, #canvas32, #canvas33{
        width: 75px;
        height: 75px;
    }

    #canvas4, #canvas5, #canvas6, 
    #canvas10, #canvas11, #canvas12, 
    #canvas16, #canvas17, #canvas18, 
    #canvas22, #canvas23, #canvas24, 
    #canvas28, #canvas29, #canvas30, 
    #canvas34, #canvas35, #canvas36{
        width: 75px;
        height: 300px;
    }

    #canvas5, #canvas6, 
    #canvas11, #canvas12, 
    #canvas17, #canvas18, 
    #canvas23, #canvas24, 
    #canvas29, #canvas30, 
    #canvas35, #canvas36{
        width: 100px;
    }

    #canvas5, 
    #canvas11, 
    #canvas17, 
    #canvas23, 
    #canvas29, 
    #canvas35{
        left: -45px;
    }

    #canvas6, 
    #canvas12, 
    #canvas18, 
    #canvas24, 
    #canvas30, 
    #canvas36{
        left: 30px;
    }
}

@media (max-width: 550px){
    #tulip1{
        top: 40%;
        left: 5%;
    }
    
    #tulip2{
        top: 60%;
        left: 7.5%;
        transform: rotateY(180deg);
    }
    
    #tulip3{
        top: 50%;
        left: 40%;
    }
    
    #tulip4{
        top: 10%;
        left: 50%;
        transform: rotateY(180deg);
    }
    
    #tulip5{
        top: 70%;
        left: 57.5%;
        transform: rotateY(180deg);
    }
    
    #tulip6{
        top: 65%;
        left: 90%;
    }
}