@charset "UTF-8";
/* CSS Document */


*, *:before, *:after{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}

html, body{
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

html{
    background-color: ghostwhite;
	overflow:hidden;
}

body{
	background-color: gainsboro;
	overflow:hidden;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	z-index: 5;
	position: absolute;
	top: 35px;
    left: 25px;
}

a{
	text-decoration: none;
    color: steelblue;
}

#flond{
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

#info{
    position: absolute;
    top: 38px;
    right: 25px;
    color: steelblue;
    font-size: 2rem;
    font-family: "fontello";
    cursor: pointer;
}

.hana{
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 800px;
}

.hanamove{
    width: 150px;
    height: 700px;
    transform-origin: 50% 90%;
    /* transition-duration: 1s; */
    transition: all 0.2s ease 0s, transform 1s ease 0s;
}

.canvasGroup{
    position: relative;
    top: 0;
    left: 0;
    mix-blend-mode: saturation;
    mix-blend-mode: -webkit-saturation;
    -webkit-mix-blend-mode: saturation;
    transform-origin: 50% 90%;
    transition-duration: 0.5s;
}

#canvasGroup1{
    z-index: 2;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#canvasGroup2{
    width: 150px;
    height: 600px;
    top: -50px;
    mix-blend-mode: normal;
    mix-blend-mode: -webkit-normal;
    -webkit-mix-blend-mode: normal;
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    /* filter: blur(15px);
    -webkit-filter: blur(15px); */
    opacity: 0.8;
    mix-blend-mode: saturation;
    mix-blend-mode: -webkit-saturation;
    -webkit-mix-blend-mode: saturation;
}

#canvas1, #canvas2, #canvas3, #canvas4, 
#canvas5{
    width: 150px;
    height: 150px;
    transform-origin: 50% 90%;
}

#canvas6, #canvas7, #canvas8, #canvas9{
    width: 150px;
    height: 600px;
    mix-blend-mode: normal;
    mix-blend-mode: -webkit-normal;
    -webkit-mix-blend-mode: normal;
}

#canvas7, #canvas8{
    z-index: 1;
    width: 200px;
    cursor: pointer;
}

#canvas7{
    left: -90px;
    transform-origin: 90% 70%;
    transition-duration: 1s;
}

#canvas8{
    left: 60px;
    transform-origin: 10% 60%;
    transition-duration: 1.4s;
}

.tool{
    opacity: 0.8;
    cursor: pointer;
    /* mix-blend-mode: saturation;
    mix-blend-mode: -webkit-saturation;
    -webkit-mix-blend-mode: saturation; */
}

#zyouro{
    position: absolute;
    bottom: 20%;
    right: -350px;
    width: 800px;
}

#eiyouzai1, #eiyouzai2, #eiyouzai3{
    position: absolute;
    bottom: 27.5%;
    left: -40px;
    width: 80px;
    transform-origin: 50% 80%;
}

#eiyouzai1{
    transform: rotate(5deg);
}

#eiyouzai2{
    transform: rotate(35deg);
}

#eiyouzai3{
    transform: rotate(75deg);
}
@media (max-width: 550px){
    #flond{
        font-size: 1.5rem;
        letter-spacing: 0.1125rem;
    }
    
    #info{
        top: 37px;
        font-size: 1.5rem;
    }

    .hana{
        top: 70%;
        left: 52.5%;
    }

    #canvasGroup1{
        width: 112.5px;
        height: 112.5px;
    }
    
    #canvasGroup2{
        width: 112.5px;
        height: 450px;
        top: -37.5px;
    }

    #canvas1, #canvas2, #canvas3, #canvas4, 
    #canvas5{
        width: 112.5px;
        height: 112.5px;
    }

    #canvas6, #canvas7, #canvas8, #canvas9{
        width: 112.5px;
        height: 450px;
    }

    #canvas7, #canvas8{
        width: 150px;
    }

    #canvas7{
        left: -67.5px;
    }

    #canvas8{
        left: 45px;
    }

    #zyouro{
        bottom: 25%;
        right: -175px;
        width: 400px;
    }
    
    #eiyouzai1, #eiyouzai2, #eiyouzai3{
        bottom: 27.5%;
        left: -20px;
        width: 40px;
    }
}